<script setup lang="ts">
import FancyButtonVue from "@/components/FancyButton.vue";
import { mdiHeartOutline, mdiCursorDefaultClickOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row
      ><v-col>
        <FancyButtonVue
          ><v-icon :icon="mdiHeartOutline" />Love Me
          <template v-slot:tail>Tail</template>
        </FancyButtonVue>
      </v-col>
      <v-col>
        <FancyButtonVue>
          <template #tall
            ><v-icon :icon="mdiCursorDefaultClickOutline"
          /></template>
          Click Me</FancyButtonVue
        ></v-col
      >
    </v-row>
  </v-container>
</template>

<style></style>
