<script lang="ts">
export default {
  data: () => ({
    tab: null,
  }),
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="434" rounded="0">
          <v-img
            height="50%"
            cover
            src="https://media.tenor.com/1J9-qnKbPBkAAAAC/%E0%B8%9E%E0%B8%B5%E0%B9%88%E0%B9%82%E0%B8%95.gif"
          >
            <v-avatar color="grey" size="150" rounded="0">
              <v-img
                cover
                src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/313255585_1727258377642000_9107190692281431005_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHLQG2WwiwsV9aD15-z3ErUqSApyzSyMbWpICnLNLIxtQ1zugGjSS09w_Ve2UzkUdyS_XnGjjJuAwuA_VASxuI_&_nc_ohc=JBzB8AyrSMcAX-WD_yh&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfB9apO8GirTu8G4elewBaRFyIIulbm1sOjjdS85zlEiWg&oe=63A55670"
              ></v-img>
            </v-avatar>
            <v-list-item
              class="text-white"
              title="Boonanan Pakwiset"
              subtitle="Full Stack Developer"
            ></v-list-item>
          </v-img>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-card>
          <v-tabs v-model="tab" bg-color="secondary">
            <v-tab value="one">Educational Records </v-tab>
            <v-tab value="two">Interests</v-tab>
          </v-tabs>

          <v-card-text>
            <v-window v-model="tab">
              <v-window-item value="one"
                ><v-table>
                  <thead>
                    <tr>
                      <th style="font-size: large">Educational Records</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Graduated elementary school From Wat Koh School with GPA
                        : 3.67
                      </td>
                    </tr>
                    <tr>
                      <td>Graduated high school from Ban Khai School : 3.27</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-window-item>

              <v-window-item value="two"
                ><v-table>
                  <thead>
                    <tr>
                      <th style="font-size: large">Interests</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Games : The Flame In The Flood, Oxygen Not Included
                      </td>
                    </tr>
                    <tr>
                      <td>Animes : Kaguya-sama:Love is war, Conan</td>
                    </tr>
                  </tbody>
                </v-table></v-window-item
              >
            </v-window>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
