<script setup lang="ts">
import FrameworkPopVue from "@/components/FrameworkPop.vue";
import { computed, ref } from "vue";
const FrameList = ref([
  {
    name: "Vue JS",
    img: "https://img.icons8.com/color/512/vue-js.png",
    rating: 100,
  },
  {
    name: "Augular JS",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/375px-Angular_full_color_logo.svg.png",
    rating: 100,
  },
  {
    name: "React JS",
    img: "https://cdn.vectorstock.com/i/preview-1x/78/57/react-icon-in-a-hexagon-vector-36587857.webp",
    rating: 100,
  },
]);

function changeRating(index: number, rating: number) {
  console.log("action " + index + " :" + rating);
  FrameList.value[index].rating = rating;
}
const orderList = computed(() => {
  return [...FrameList.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of FrameList" :key="index">
        <FrameworkPopVue
          :name="item.name"
          :img="item.img"
          @change="changeRating"
          :index="index"
          :rating="item.rating"
        ></FrameworkPopVue>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style></style>
